body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c9/45/82/c9458273a948dbcf519e90355cb11a34.jpg");
}

#home {
  font-size: 50px;
  font-family: 'Rock Salt', cursive;
}

#main {
width: 1000px;
height: 3800px;
background-color: #ffffff;
padding-top:10px;
padding-left: 50px;
padding-right: 50px;
}

#name {
  font-size: 100px;
  font-family: 'Cookie', cursive;
  color: #ff72d7;
}

#quote {
  font-size: 75px;
  font-family: 'Cookie', cursive;
  color: #ff72d6;
}

#first {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

#redvelvet {
  height: 300px;
  width: 500px;
  margin-top: 25px;
}

#marble {
  height: 300px;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#cake {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

#vanilla {
  height: 550px;
  width: 350px;
}

#chocolate {
  height: 550px;
  width: 350px;
}

#cupcake {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

#cookie {
  height: 300px;
  width: 650px;
}

#flan {
  height: 375px;
  width: 650px;
}

#pie {
  height: 350px;
  width: 650px;

}

#dessert {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

/*copy and paste from here go down to get the .css part of the website.*/

#line {
  width: 1000px;
  height: 100px;
  margin-top: 25px;
}

#follow {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

.media {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#table {
  color: #000000;
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
}

a {
  color: #ff72d7;
  text-decoration: none;
}
